.main{width:90%;margin:2.5em auto 0;background-color: #fff;}
.card{border-bottom: 1px solid #dedede;}
.card>span{display:block;padding:.6em 0 .6em 1em;border-bottom:1px solid #efefef;background-color:#fafafa;}
.card>div{padding:.8em 0 .8em 1em;}
.hot>.hot-title{background-color: #fff;}
